body{
    padding: 0 auto;
    top: 0;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
	background-color: #242424;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	align-items: center;
}

nav ul li {
	margin-left: 20px;
}

nav ul li:first-child {
	margin-left: 0;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}

/* styles pour le corps de la page */
main {
	max-width: 800px;
	margin: 50px auto;
	padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.txt{
    margin-top: 50px;
    color: #242424;
}

h2 {
	font-size: 36px;
    margin: 10px;
    color: #d56626;
}

p {
	line-height: 1.5;
	margin-bottom: 30px;
}

.btn {
	display: inline-block;
	background-color: #ae5521;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
    transition: all 1s;
}

.btn:hover {
	background-color: #ff7d32;
}

.textt{
    font-size: 30px;
    color: #242424;
    border-bottom: 2px solid #242424;
}

.maintxt{
    font-size: 18px;
    color: #242424;
    width: 600px;
}
.maintxt2{
    font-size: 18px;
    color: #ffffff;
    width: 600px;
}

.container{
    height: auto;
    width: 100%;
    background-color: #d56626;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 1s;
}

.container2{
    height: 100px;
    width: 100%;
    background-color: #d56626;
}


/* styles pour le pied de page */
footer {
	background-color: #242424;
	color: #fff;
	text-align: center;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.button {
    background-color: #d56626; /* couleur de fond */
    border: none; /* pas de bordure */
    color: white; /* couleur du texte */
    padding: 10px 20px; /* marge intérieure */
    text-align: center; /* centrage du texte */
    text-decoration: none; /* pas de soulignement */
    display: inline-block; /* affichage en ligne */
    font-size: 16px; /* taille de la police */
    cursor: pointer; /* curseur de la souris en forme de main */
    transition: all 1s;
  }
  
.button:hover{
    background-color: #242424;
    color: #d56626;
}

.comp{
    background-color: #242424;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    flex-direction: column;
}

.btn-download {
    background-color: #242424; /* couleur de fond */
    border: none; /* pas de bordure */
    color: white; /* couleur du texte */
    padding: 10px 20px; /* marge intérieure */
    text-align: center; /* centrage du texte */
    text-decoration: none; /* pas de soulignement */
    display: inline-block; /* affichage en ligne */
    font-size: 16px; /* taille de la police */
    margin: 20px; /* marge extérieure */
    cursor: pointer; /* curseur de la souris en forme de main */
    transition: all 1s;
  }  

.btn-download:hover{
    color: #d56626;
}
  
  
  
  
  
  
  

  
